@mixin flex-content($horisontal, $vertical) {
    display: flex;
    justify-content: $horisontal;
    align-items: $vertical;
}

$green: #06b174;


* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.contacts {
    //border: 1px solid red;
    height: 3em;
    background-image: linear-gradient(to right, #1A87E2, #05B56C);
    color: #fff;
    @include flex-content(space-around, center);
}
.communication {
    .communication__item {
        margin-right: 2vw;
    }
    @include flex-content(space-evenly, center);
    width: 30%;
   // border: 1px solid hotpink;
}

.social-media {
   // border: 1px solid navy;
    width: 20%;
    @include flex-content(flex-end, center);
}
.social-media__link {
    height: 20px;
    margin-left: 1rem;
}

.navigation-container {
    @include flex-content(space-evenly, center);
    height: 5em;
    #menu-icon {
        display: none;
    }
    .navbar {
        .navbar_item {
            display: inline-block;
            align-items: center;
            height: 5rem;
            line-height: 5rem;
            margin-right: 1rem;
            color: #000;
            font-weight: bold;
        }
        .navbar_item:hover {
            color: $green;
            border-bottom: 1px solid $green;
        }
    }
}

.banner {
    background: url("/img/bg_1.jpg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 45rem;
    @include flex-content(center, center);
    flex-direction: column;
    .banner__title {
        font-size: 3rem;
        font-weight: 900;
        color: #fff;
        width: 60%;
        margin: 3vh 0;
        text-align: center;
    }
    .main-btn {
        width: 10%;
        height: 5%;
        background: $green;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 0.75rem;
        border: none;
        border-radius: 3%;
        cursor: pointer;
    }
    .main-btn:hover {
        background-color: transparent;
        color: $green;
        border: 2px solid $green;
    }
}

.service-cards {
    @include flex-content(space-evenly, center);
    .service-cards__label {
        border: 2px solid gray;
        background: #dfdfdd;
        border-radius: 50%;
        position: absolute;
        top: -4rem;
        img {
            width: 5em;
            height: 5em;
            padding: 1rem;
        }
    }
    .service-cards__item {
        width: 25%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        text-align: center;
        padding: 2rem;
        box-sizing: border-box;
        @include flex-content(center, center);
        flex-direction: column;
        position: relative;

        .service-cards__description {
            margin-top: 3em;
            p {
                color: gray;
                margin: 1em 0;
            }
        }
    }
    .service-cards__item:hover {
        background: $green;
        color: #fff;
        p {
            color: #fff;
        }
    }
}

.about-us {
    //border: 1px solid red;
    @include flex-content(center, center);
    img {
        width: 35vw;
    }
    .title {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
        margin-top: 3vh;
    }

    .grid-container {
        //border: 1px solid darkblue;
        width: 50vw;
        display: grid;
        grid-template-columns: 50% 50%;
        .grid-item {
            width: 25vw;
            //border: 1px solid darkcyan;
            @include flex-content(space-between, center);
            .item-content {
               // border: 1px solid red;
                width: 20vw;
                height: 30vh;
                @include flex-content(space-evenly, flex-start);
                flex-direction: column;
                .item-title {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                .item-text {
                    font-size: 1rem;
                    line-height: 1.8;
                    font-weight: 400;
                    color: gray;
                }
            }
            img {
                width: 5vw;
                height: 10vh;
                border: 1px solid hotpink;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
    }

}

footer {
    margin-top: 5rem;
    height: 50vh;
    background-color: #1a1a1a;
    @include flex-content(space-evenly, center);
    .footer-item {
        width: 25vw;
        height: 35vh;
        @include flex-content(space-evenly, space-between);
        flex-direction: column;
    }
    .footer-links__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 1rem;
    }
    .footer-links__text {
        color: #fff;
    }
    .footer-links__icons {
        cursor: pointer;
    }

    .footer-nav {
        @include flex-content(center, center);
        a {
            color: #fff;
            margin-bottom: 0.5rem;
        }
        a:hover {
            border-bottom: 2px solid $green;
        }
    }

    .footer-contacts {
        .contacts-content { 
            cursor: pointer;
            @include flex-content(flex-start, center);
            color: #fff;
            img {
                margin-right: 1rem;
            }
        }
    }
}


.veterinarians {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    grid-gap: 5%;
    margin: 3% 0 10% 5%;
    // grid-template-rows: 20% 20%;
    .veterinarian-card {
        padding: 5%;
        box-sizing: border-box;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        text-align: center;
        .staff {
            width: 17vw;
            height: 40vh;
        }
        .veterinarian-name {
            margin-top: 1em;
            font-size: 1.3em;
            font-weight: bold;
        }
        .veterinarian-work {
            font-weight: bold;
            color: $green;
            margin: 0.7em;
        }
    }
}

.veterinarian-card:hover {
    background-color: $green;
    color: #fff;
    cursor: pointer;
    .veterinarian-work {
        color: #fff;
    }
}

.pricing {
    h2 {
        text-align: center;
        font-size: 3em;
        margin: 3% 0;
    }
    .pricing-cards {
        @include flex-content(space-evenly, center);
        .pricing-card {
            width: 30%;
            @include flex-content(center, center);
            flex-direction: column;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            padding: 2%;
            box-sizing: border-box;
            img {
                width: 25vw;
            }
            .pricing-name {
                text-transform: uppercase;
                color: $green;
                font-weight: bold;
                margin-top: 5%;
            }
            .price {
                .big-number {
                    font-size: 4em;
                }
            }
            ul {
                li {
                    list-style-image: url('../img/icons8-галочка.svg');
                    margin-bottom: 20%;
                    height: 5vh;
                    width: 20vw;
        
                }

                li:nth-child(2n) {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
            .pricing-btn {
                width: 10vw;
                height: 8vh;
                background-color: $green;
                border: none;
                color: #fff;
                text-transform: uppercase;
                border-radius: 1em;
                cursor: pointer;
                // margin-bottom: 7%;
            }
        }
    }
}

.all-form {
    width: 94%;
    height: 70vh;
    margin: 3%;
    background-image: linear-gradient(to right, #1A87E2, #05B56C);
    display: flex;
    img {
        height: 70vh;
    }
    form {
        @include flex-content(space-evenly, space-evenly);
        flex-direction: column;
        margin-left: 5vw;
        h2 {
            color: #fff;
            font-size: 2em;
        }
        select, input, textarea {
           border: 0;
           outline: 0;
           border-radius: 0.5em;
        }
        select, input {
            height: 5vh;
        }
        .form-btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 0.5em;
            height: 5vh;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.gallery {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 40% 40%;
    grid-gap: 13%;
    margin: 3% 0 5% 3%;
    position: relative;
    img {
        width: 30vw;
        height: 50vh;
    }
    img:hover {
       opacity: 0.5;
    }
}


@media screen and (min-width: 1435px) {
    .banner {
         background-size: cover;
    }
}

@media screen and (max-width: 1240px) {
    .banner {
        height: 40rem;
   }
}

@media screen and (max-width: 1024px) {
    .banner {
        height: 30rem;
        .main-btn {
         width: 15%;
         height: 7%;
        }
   }
}

@media screen and (max-width: 768px) {
    .banner {
        .banner__title {
            font-size: 3vh;
        }
    }
}

@media screen and (max-width: 425px) {
    .communication {
        display: none;
    }
    .logo-img {
        width: 30vw;
    }
    .navigation-container #menu-icon {
            display: block;
        }
    .navbar {
        flex-direction: column;
        display: none;
        background-image: linear-gradient(to right, #1A87E2, #05B56C);
        margin-top: 30vh;
        width: 60%;
        border-radius: 5%;
        .navbar_item {
            margin: -3vh 0;
            text-align: center;
        }
    }
    
}


/* main__banner */
/* banner__carousel */
.banner__carousel{
    max-width: 600px;
    position: relative;
    margin:auto;
}
/* carousel-item */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width:auto;
    margin-top: -22px;
    padding: 16px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6% ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right:0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, next:hover{
    background-color: rgba(0,0,0,0.8);
}

.item-text {
    color: #000;
    background-color: #fff;
    font-style: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15px;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    letter-spacing: 1.2px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration:0.8s;
    animation-name: fade;
    animation-duration: 0.8s;
}
@-webkit-keyframes fade{
    from{opacity: .2;}
    to{opacity:1}
}
@keyframes fade{
    from{opacity: .2;}
    to{opacity: 1;}
}